<div class="card-body py-3">
  <div class="table-responsive">
    <div class="text-end">
      <button class="btn btn-radius btn-hover-outline btn-outline-primary"
              (click)="openModal()">Nuevo categoria</button>
    </div>
    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" style="border: #5d78ff; border-radius: 120px">
      <thead>
      <tr class="fw-bolder text-muted">
        <th>#</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody >
        @for (category of currentListCategory; track category) {
          <tr>
            <td class="align-content-center">{{$index + 1}}</td>
            <td>
              <div class="d-flex align-items-center">
                <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                  <div class="symbol-label fs-3 bg-light-primary text-primary">
                    {{ category.categoryName[0].toUpperCase() }}
                  </div>
                </div>
                <div>
                  {{ category.categoryName }}
                </div>
              </div>
            </td>
            <td class="align-content-center">
              {{ category.categoryDescription}}
            </td>

            <td class="text-center align-content-center">
              <button class="btn btn-icon btn-light-twitter btn-sm me-3"
                      (click)="delete(category.id)">
                <i class="bi bi-trash fs-4"></i>
              </button>
              <button class="btn btn-icon btn-sm me-3 btn-light-facebook"
                      (click)="openModal(category)">
                <i class="bi bi-pencil fs-4"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
