<!--<ng-container *ngIf="appToolbarFilterButton">-->
<!--  &lt;!&ndash;begin::Filter menu&ndash;&gt;-->
<!--  <div class="m-0">-->
<!--    &lt;!&ndash;begin::Menu toggle&ndash;&gt;-->
<!--    <a href="#" class="btn btn-sm btn-flex fw-bold" [ngClass]="daterangepickerButtonClass" data-kt-menu-trigger="click"-->
<!--      data-kt-menu-placement="bottom-end">-->
<!--      <app-keenicon name="filter" class="fs-6 text-muted me-1"></app-keenicon>-->
<!--      Filter-->
<!--    </a>-->
<!--    &lt;!&ndash;end::Menu toggle&ndash;&gt;-->

<!--    <app-dropdown-menu1></app-dropdown-menu1>-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Filter menu&ndash;&gt;-->
<!--</ng-container>-->

<!--<ng-container *ngIf="appToolbarDaterangepickerButton">-->
<!--  <div data-kt-daterangepicker="true" data-kt-daterangepicker-opens="left"-->
<!--    class="btn btn-sm fw-bold  d-flex align-items-center px-4" [ngClass]="daterangepickerButtonClass">-->
<!--    &lt;!&ndash;begin::Display range&ndash;&gt;-->
<!--    <div class="text-gray-600 fw-bold">-->
<!--      Loading date range...-->
<!--    </div>-->
<!--    &lt;!&ndash;end::Display range&ndash;&gt;-->
<!--    <app-keenicon name="calendar-8" class="fs-1 ms-2 me-0"></app-keenicon>-->
<!--  </div>-->
<!--</ng-container>-->

<!--&lt;!&ndash;begin::Secondary button&ndash;&gt;-->
<!--<a href="javascript:;" class="btn btn-sm btn-flex btn-light fw-bold">-->
<!--  Filter-->
<!--</a>-->
<!--&lt;!&ndash;end::Secondary button&ndash;&gt;-->

<!--&lt;!&ndash;begin::Primary button&ndash;&gt; -->
<!--<a href="javascript:;" class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Create</a>-->
<!--&lt;!&ndash;end::Primary button&ndash;&gt;-->
