<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Crear Producto</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
  (click)="ngbActiveModal.close()"></button>
</div>
<div class="modal-body" [formGroup]="productForm">
  <div class="row mb-3">
    <div class="col-md-6 col-sm-12">
      <label for="category" class="form-label fw-bolder text-dark fs-6">
        <span class="required">Categoria</span>
      </label>
      <ng-select
        id="category"
        [items]="currentListCategory"
        bindLabel="categoryName"
        formControlName="categoryDto"
        bindValue="id"
        placeholder="Selecciona una categoria">
      </ng-select>
      @if(productForm.get('categoryDto')?.invalid && productForm.get('categoryDto')?.touched &&
        productForm.get('categoryDto')?.errors?.['required']) {
        <div class="text-danger">
          La categoria es requerida
        </div>
      }
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="name" class="form-label fw-bolder text-dark fs-6">
        <span class="required">Nombre</span>
      </label>
      <input type="text" id="name" class="form-control form-control" placeholder="Nombre"
      formControlName="name" />
      @if(productForm.get('name')?.invalid && productForm.get('name')?.touched &&
        productForm.get('name')?.errors?.['required']) {
        <div class="text-danger">
          El nombre es requerido
        </div>
      }
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6 col-sm-12">
      <label for="code" class="form-label fw-bolder text-dark fs-6">
        <span class="required">Codigo</span>
      </label>
      <input type="text" id="code" class="form-control form-control" placeholder="Codigo"
      formControlName="code" />
      @if(productForm.get('code')?.invalid && productForm.get('code')?.touched &&
        productForm.get('code')?.errors?.['required']) {
        <div class="text-danger">
          El codigo es requerido
        </div>
      }
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="description" class="form-label fw-bolder text-dark fs-6">
        <span class="required">Descripcion</span>
      </label>
      <input type="text" id="description" class="form-control" placeholder="Descripcion"
      formControlName="description" />
      @if(productForm.get('description')?.invalid && productForm.get('description')?.touched &&
        productForm.get('description')?.errors?.['required']) {
        <div class="text-danger">
          La descripcion es requerida
        </div>
      }
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
  (click)="ngbActiveModal.close()">Cerrar</button>
  <button type="button" class="btn btn-primary" (click)="save()">Guardar</button>
</div>
